{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<!-- Searchbar -->

<div class="col-lg-12 col-12 col-sm-12">
    <form id="searchbar" class="search searchbar">
        <div class="input-group w-100">
            <input type="search" id="searchbar" placeholder="Search..." class="form-control" name="q">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                    <i class="fa fa-search"></i>
                    </button>
            </div>
        </div>
    </form>
</div>

<section class="section-intro padding-y-sm">
    <div class="container">
    
    <div class="intro-banner-wrap">
        <img src="../static/images/banners/1.jpg" class="img-fluid rounded">
    </div>
    
    </div>
</section>

<hr>

<!-- website description -->

<section class="section-content padding-y-sm">
    <div class="container">
    <article class="card card-body">
    <div class="row">
        <div class="col-md-4">	
            <figure class="item-feature">
                <span class="text-primary"><i class="fa fa-2x fa-truck"></i></span>
                <figcaption class="pt-3">
                    <h5 class="title">Fast delivery</h5>
                    <p>Dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore </p>
                </figcaption>
            </figure> <!-- iconbox // -->
        </div><!-- col // -->
        <div class="col-md-4">
            <figure class="item-feature">
                <span class="text-primary"><i class="fa fa-2x fa-landmark"></i></span>	
                <figcaption class="pt-3">
                    <h5 class="title">Creative Strategy</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                     </p>
                </figcaption>
            </figure> <!-- iconbox // -->
        </div><!-- col // -->
        <div class="col-md-4">
            <figure class="item-feature">
                <span class="text-primary"><i class="fa fa-2x fa-lock"></i></span>
                <figcaption class="pt-3">
                    <h5 class="title">High secured </h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                     </p>
                </figcaption>
            </figure> <!-- iconbox // -->
        </div> <!-- col // -->
    </div>
    </article>
    
    </div> <!-- container .//  -->
</section>
<hr>

<!-- product -->

<section class="section-content">
    <div class="container">
    
    <header class="section-heading">
        <h3 class="section-title">Popular products</h3>
    </header><!-- sect-heading -->
        
    <div class="row product-card">
        <div class="card col-md-3 col-xs-6 col-sm-6 col-lg-4">
            <img src="../static/images/product/shirt.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">of the card's content.</p>
            </div>
        </div>
    </div> <!-- row.// -->

    </div> <!-- container .//  -->
    
</section>

<!-- Srijan's Cards -->

<h2 style="text-align:center">Product Card</h2>
<div class="card">
  <img src="#" style="width:100%">
  <h1>REDMI NOTE 9 PRO</h1>
  <p class="price">10,000 Rs.</p>
  <p>Lorem jeamsun denim lorem jeansum.</p>
  <p>Lorem jeamsun denim lorem jeansum.</p>
  <p>Lorem jeamsun denim lorem jeansum.</p>
  <p>Lorem jeamsun denim lorem jeansum.</p>
  <p>Lorem jeamsun denim lorem jeansum.</p>
  <p>Lorem jeamsun denim lorem jeansum.</p>
<p><button>Add to Cart</button></p>
</div>
<h2 style="text-align:center">Product Card</h2>
<div class="card">
  <img src="#" style="width:100%">
  <h1>REDMI NOTE 10 PRO</h1>
  <p class="price">16,000 Rs.</p>
  <p>Lorem jeamsun denim lorem jeansum.</p>
  <p>Lorem jeamsun denim lorem jeansum.</p>
  <p>Lorem jeamsun denim lorem jeansum.</p>
  <p>Lorem jeamsun denim lorem jeansum.</p>
  <p>Lorem jeamsun denim lorem jeansum.</p>
  <p>Lorem jeamsun denim lorem jeansum.</p>
<p><button>Add to Cart</button></p>
</div>
<h2 style="text-align:center">Product Card</h2>
<div class="card">
  <img src="#" style="width:100%">
  <h1>REDMI NOTE 8 PRO</h1>
  <p class="price">16,500 Rs.</p>
  <p>Lorem jeamsun denim lorem jeansum.</p>
  <p>Lorem jeamsun denim lorem jeansum.</p>
  <p>Lorem jeamsun denim lorem jeansum.</p>
  <p>Lorem jeamsun denim lorem jeansum.</p>
  <p>Lorem jeamsun denim lorem jeansum.</p>
  <p>Lorem jeamsun denim lorem jeansum.</p>
<p><button>Add to Cart</button></p>
</div>

{% endblock %}